:root {
  --brand-primary: #929292;
  --brand-primary--inverted: #ffffff;
  --brand-secondary: #131313;
  --brand-secondary--inverted: #ffffff;
  --main-navigation-color: var(--brand-secondary);
  --main-navigation-color--inverted: var(--brand-secondary--inverted);
}
